body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .cart {
    width: 270px;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid lightgrey;
    transition: box-shadow 0.15s linear;
    &:hover {
      box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
      .add {
        background-color: lightcoral;
      }
    }
  }

  .img {
    position: relative;
    margin-top: -30px;
    height: 250px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #fff;
    .badge {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      div {
        padding: 15px 20px;
        position: absolute;
        transform: translateY(-50%);
      }
      .sale {
        background-color: red;
        left: 0;
      }
      .new {
        background-color: #000;
        right: 0;
      }
    }
  }

  h2 {
    font-size: 15px;
  }

  .price {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    align-items: flex-end;
    margin: 25px 0;
    .cost {
      font-size: 25px;
      margin-right: 20px;
    }
    .discount-cost {
      font-size: 18px;
      color: red;
      text-decoration: line-through;
    }
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .add {
    color: red;
  }

  .view {
    color: grey;
    background-color: lightgrey;
  }

  .btn {
    text-decoration: none;
    width: 95px;
    border: 1px solid lightgrey;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    transition: background-color .15s linear;
  }

  .btn-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    color: red;
    .more {
      color: red;
      &:hover {
        background-color: lightcoral;
      }
    }
  }
}

p {
  font-size: 13px;
  margin: 0;
}

.footer {
  ul {
    padding: 0;
    font-size: 13px;
    li {
      list-style-type: none;
      margin: 0.5em 0;
      padding: 0 1em;
      &:before {
        content: "";
        border-color: transparent red;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.9em;
        position: relative;
      }
    }
  }

  .col-foot {
    width: 370px;
    border: 1px solid lightgrey;
    padding: 45px 28px;
    margin-bottom: 30px;
  }

  .address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      i {
        margin-right: 10px;
        color: red;
        font-size: 30px;
      }
    }
  }

  h2 {
    font-size: 20px;
    text-transform: uppercase;
  }
}